.font {
  font-family: 'Open Sans', sans-serif;
}

.mainTable {
  width: 80%;
  margin: auto;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.symbol, .headerbtn {
  background-color: initial;
}

.headerbtn {
  font-weight: 700;
}
