/* line 4, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.parentdiv {
  height: -webkit-fill-available;
  padding-top: 3px;
}

/* line 20, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.mainTable {
  width: 80%;
  margin: auto;
}

/* line 25, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.successs, .successval {
  color: green;
  font-weight: 600;
}

/* line 29, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.failure {
  color: red;
  font-weight: 600;
}

/* line 34, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.symbol, .headerbtn {
  background-color: initial;
  border: initial;
}

/* line 39, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.headerbtn {
  font-weight: 700;
}

/* line 44, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.coinmainDiv {
  display: Grid;
  grid-template-columns: 35% 65%;
  grid-gap: 1rem;
  height: max-content;
  margin: 15rem;
}

/* line 52, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.mainDiv {
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  margin: 200px 0px 0px 450px;
}

/* line 58, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.box1 {
  grid-column: 1/2;
  grid-row: 1/4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  box-shadow: -5px 5px 3px #5e6a7d;
}

/* line 74, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.box2 {
  grid-column: 2/4;
  grid-row: 1/4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  box-shadow: -5px 5px 3px #5e6a7d;
}

/* line 93, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.coinName {
  font-size: 45px;
}

/* line 100, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.coinSym {
  font-size: 30px;
  color: grey;
  margin: auto 0px 25px 0px;
}

/* line 107, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.coinicon {
  width: 50px;
  margin: auto;
}

/* line 112, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.namesDiv, .priceData {
  display: flex;
  margin: auto;
}

/* line 118, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.metaList {
  list-style-type: none;
  margin: 50px auto auto 50px;
  font-size: 20px;
}

/* line 124, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.hash {
  font-size: 20px;
}

/* line 129, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.price {
  font-size: 35px;
  color: darkslategray;
  margin: auto;
}

/* line 135, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.metaTable {
  margin: auto;
}

/* line 139, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.metaTableHeader {
  background: initial;
}

/* line 144, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.metaTableData {
  font-weight: 500;
}

/* line 152, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.successval {
  font-size: 22px;
  margin-top: 32px;
}

/* line 158, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.metaData {
  background: initial;
  border: none;
}

/* line 163, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.pagination {
  display: flex;
  justify-content: center;
}

/* line 168, E:/udemy/crypto-no webpack/cryptonoreact/src/styles/scss/styles.scss */
.pagebtn {
  margin: 10px;
}

/*# sourceMappingURL=../styles.map */