$fsize : 40px;
$major-font : 'Merriweather Sans', sans-serif;

.headerTag{
    font-family: 'Bungee Inline', cursive;
    font-size: $fsize + 15px;
    color: aliceblue;
    text-decoration: none;
}
.header{
    background-color: #b11414;
    text-align: center;
    margin-bottom: 60px;
}

.parentdiv{
    height: fit-content;
    padding-top: 3px;
   background-color: #052443;
   min-height: calc(100vh);
   min-width: fit-content;
}

.mainTable{
    width: 80%;
    margin:auto;
    color: #d6d8dacc;
}

.successs{
    color: #299229;
    font-weight: 600;
}
.failure{
    color: #fe0505;
    font-weight: 600;
}

.symbol{
    background-color: initial;
    border: initial;
}

.headerbtn{
    @extend .symbol;
    font-weight: 700;
    color: aliceblue;
}

.coinmainDiv{
    @media screen and (min-width:768px){
    display:Grid;
    grid-template-columns: 35% 65%;
    grid-gap: 1rem;
    height:max-content;
    margin: 15rem;
    }
}

.mainDiv{
    font-family: $major-font;
    display: flex;
    margin:200px 0px 0px 450px;
}

.box1{
    grid-column: 1/4;
    grid-row:1/2;
    color: white;
    display:flex;
    @media screen and (max-width: 768px){
    display:grid;
    justify-content: center;
    }
}

.box2{
    grid-row:2/4;
    display:grid;
    justify-content: space-around;
    font-size: 25px;
    text-align: center;
    row-gap: 10px;
    @media screen and (min-width:768px){
        grid-column: 1/4;
        display:inline-flex;
        
    }
}

.box1top{
    display: flex;
    margin: 30px 0px -20px 0px;
}

.coinName{
    font-size: $fsize+5px;
}

.coinSym{
    font-size: $fsize - 10px;
    color: grey;
    margin-top: 15px;
}

.coinicon{
    width:100px;
    margin: auto 25px auto 30px;
}

.namesDiv{
    
}

.metaList{
    list-style-type: none;
    padding-left: 0px;
    font-size: 20px;
}

.hash{
    
    font-size: 20px;
    margin: 0px -7px 0px 15px;
    color: #bd1c24;
}

.price{
    font-size: 35px;
    color:#b7c5c5ed;
    margin: auto;
}

.metaTable{
    margin: auto;
}

.metaTableHeader{
    background: initial;

}

.metaTableData{
    font-weight: 500;
}

.priceData{
    margin: auto;
    @media screen and (min-width:768px){
        display:flex;
    }
}

.successval{
    @extend .successs;
    font-size: 22px;
    margin: auto 0px auto 10px;
    @media screen and (max-width:768px){
        margin: auto 0px auto 65px;
    }
}

.failureval{
    @extend .successval;
    color: red;
}

.metaData{
    background: initial;
    border: none;
    padding-left: 2px;
    @media screen and (min-width:768px){
       display: inline-flex;
    }
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagebtn{
    margin: 10px;
}

.listtext{
    font-size: 20px;
    color: #b4b6d4;
}

.coinData{
    display: inline-flex;
}

.coinBox{
        background-color: #0c2f52;
        //background-color: #ff5858;
        margin: 0px 10px 0px 10px;
        height: 100px;
        width: 350px;
        font-size:25px;
        color: #d9d6d6;
    @media screen and (max-width:768px){
    align-items: center;
    }
}

.coinBoxDesc{
    font-size: 20px;
    color: #5b5a5f;
}