$fsize : 40px;
$major-font : 'Merriweather Sans', sans-serif;

.parentdiv{
   // background-image: linear-gradient(to right, #434343 0%, black 100%);
   // background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
    //background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
   // background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  // background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  //background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
 //background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
 //background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    height: -webkit-fill-available;
    padding-top: 3px;
    //background-image: linear-gradient(to right, #A8A7A7 0%,#CC527A 25%, #E8175D 50%, #474747 75%, #363636 100%);
   

}

.mainTable{
    width: 80%;
    margin:auto;
}

.successs{
    color: green;
    font-weight: 600;
}
.failure{
    color:red;
    font-weight: 600;
}

.symbol{
    background-color: initial;
    border: initial;
}

.headerbtn{
    @extend .symbol;
    font-weight: 700;
}

.coinmainDiv{
    display:Grid;
    grid-template-columns: 35% 65%;
    grid-gap: 1rem;
    height:max-content;
    margin: 15rem;
}

.mainDiv{
    font-family: $major-font;
    display: flex;
    margin:200px 0px 0px 450px;
}

.box1{
    grid-column: 1/2;
    grid-row:1/4;
    
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    box-shadow: -5px 5px 3px rgba(94, 106, 125, 1);
    //background-color: rgba(32, 41, 117, 0.63);
   // background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
   //background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 //background-blend-mode: multiply,multiply;
 //background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.box2{
    grid-column: 2/4;
    grid-row:1/4;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    box-shadow: -5px 5px 3px rgba(94, 106, 125, 1);
 //background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 //background-blend-mode: lighten;
   // background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
   // background-color: #152552a3;
    //background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
   // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
   //background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  // background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  
}

.coinName{
    
    font-size: $fsize+5px;
  

}

.coinSym{
    
    font-size: $fsize - 10px;
    color: grey;
    margin: auto 0px 25px 0px;
}

.coinicon{
    width:50px;
    margin: auto;
}

.namesDiv{
    display:flex;
    margin: auto;
    
}

.metaList{
    list-style-type: none;
    margin: 50px auto auto 50px;
    font-size: 20px;
}

.hash{
    
    font-size: 20px;
}

.price{
    font-size: 35px;
    color:darkslategray;
    margin: auto;
}

.metaTable{
    margin: auto;
}

.metaTableHeader{
    background: initial;

}

.metaTableData{
    font-weight: 500;
}

.priceData{
    @extend .namesDiv;
}

.successval{
    @extend .successs;
    font-size: 22px;
    margin-top : 32px;
}

.metaData{
    background: initial;
    border: none;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagebtn{
    margin: 10px;
}